<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159358117861-jsrh66gu2c1qpgl9br8j0tnj1b7bve4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159358117861-jsrh66gu2c1qpgl9br8j0tnj1b7bve4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>159358117861-15pqrqsltvqas03ev3qjrrdplrr1na0b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPAtktHg9O0q4REUA170OBKEG-Ik3m08U</string>
	<key>GCM_SENDER_ID</key>
	<string>159358117861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tautulli.tautulliRemote</string>
	<key>PROJECT_ID</key>
	<string>plexpy-remote</string>
	<key>STORAGE_BUCKET</key>
	<string>plexpy-remote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159358117861:ios:bbb939efb62f33b547310c</string>
	<key>DATABASE_URL</key>
	<string>https://plexpy-remote.firebaseio.com</string>
</dict>
</plist>