<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.williamcomartin.plexpyremote">

    <permission android:name="com.williamcomartin.plexpyremote.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.williamcomartin.plexpyremote.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name="com.williamcomartin.plexpyremote.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <activity android:name="com.williamcomartin.plexpyremote.ActivityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.williamcomartin.plexpyremote.UserActivities.UsersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>
        <activity android:name="com.williamcomartin.plexpyremote.UserActivities.UserDetailActivity" />

        <activity android:name="com.williamcomartin.plexpyremote.RecentlyAddedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>

        <activity android:name="com.williamcomartin.plexpyremote.HistoryActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>

        <activity android:name="com.williamcomartin.plexpyremote.GraphsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>

        <activity android:name="com.williamcomartin.plexpyremote.StatisticsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>

        <activity android:name="com.williamcomartin.plexpyremote.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>
        <activity android:name="com.williamcomartin.plexpyremote.ServerQRScannerActivity" />

        <activity android:name="com.williamcomartin.plexpyremote.AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>

        <activity android:name="com.williamcomartin.plexpyremote.LibraryStatisticsActivity"
            android:label="@string/title_activity_library_statistics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.williamcomartin.plexpyremote.ActivityActivity" />
        </activity>
        <activity android:name=".LibraryDetailsActivity" />
        <activity android:name=".MediaActivities.Show.ShowActivity" />
        <activity android:name=".MediaActivities.Season.SeasonActivity" />
        <activity android:name=".MediaActivities.Episode.EpisodeActivity" />
        <activity android:name=".MediaActivities.Movie.MovieActivity" />

        <service
            android:name=".Helpers.DecryptionNotificationExtender"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>
